 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 4309px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 36px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 184px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 15px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 384px;
}

.u-section-1 .u-text-2 {
  margin: 10px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 548px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 11px 450px 0 auto;
}

.u-section-1 .u-text-4 {
  margin: 10px 0 -60px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 1071px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 18px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 15px auto 0 421px;
}

.u-section-1 .u-text-6 {
  margin: 20px 12px 0 0;
}

.u-section-1 .u-image-1 {
  width: 500px;
  height: 826px;
  margin: 16px 286px 0 auto;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 10px;
  margin-bottom: 46px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 529px;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 17px;
}

.u-section-1 .u-text-7 {
  margin: 20px 13px 0 0;
}

.u-section-1 .u-image-2 {
  width: 777px;
  height: 400px;
  margin: 43px 188px 0 auto;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 828px;
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px 6px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  width: 496px;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  margin: 2px 0 0;
}

.u-section-1 .u-image-3 {
  width: 900px;
  height: 674px;
  margin: 12px auto 0 112px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 1065px;
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: 8px 383px 0 377px;
}

.u-section-1 .u-text-11 {
  margin: 36px 28px 0;
}

.u-section-1 .u-image-4 {
  width: 763px;
  height: 700px;
  margin: 10px 182px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3629px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 152px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 315px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 452px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 366px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 883px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 345px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 689px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 129px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 993px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 28px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 711px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 283px;
    margin-left: 284px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 177px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1355px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 239px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 275px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 261px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 184px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    width: 686px;
    height: 353px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-image-3 {
    width: 708px;
    height: 530px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 173px;
    margin-left: 213px;
  }

  .u-section-1 .u-image-4 {
    width: 720px;
    height: 661px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 180px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 217px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 198px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    width: 520px;
    height: 268px;
  }

  .u-section-1 .u-image-3 {
    width: 528px;
    height: 395px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 83px;
    margin-left: 167px;
  }

  .u-section-1 .u-image-4 {
    width: 540px;
    height: 496px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 111px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 122px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 529px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 320px;
    height: 165px;
  }

  .u-section-1 .u-text-8 {
    width: 328px;
  }

  .u-section-1 .u-image-3 {
    width: 328px;
    height: 245px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 103px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 312px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1132px;
}

.u-section-2 .u-group-1 {
  min-height: 1057px;
  margin-top: -40px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-1 {
  width: 700px;
  height: 437px;
  margin: 0 auto 0 209px;
}

.u-section-2 .u-text-1 {
  margin: 29px 22px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1032px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 337px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 907px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 212px;
  }
}